<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/assets")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/js")

</head>
<body style="padding-top:0px; direction:ltr !important">
    <!-- start header-->
    <header id="header" class="header">
        <div class="header-top bg-theme-colored sm-text-center hideFooter">
            <div class="container">
                <div class="row">

                    <div class="col-md-4">
                        <div class="widget no-border m-0">
                            <ul class="styled-icons icon-dark icon-circled icon-theme-colored icon-sm pull-left flip sm-pull-none sm-text-center mt-sm-15">
                                <li><a href="#"><i class="fa fa-facebook text-white"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter text-white"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble text-white"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram text-white"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin text-white"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        @if (Session["login"].ToString().Equals(""))
                        {
                        <div class="text-white sm-text-center no-border m-5 text-right widget-title"> <i class="fa fa-user text-white mr-5"></i> Login</div>
                        }
                        else {
                        <div class="text-white sm-text-center no-border m-5 text-right widget-title"> <i class="fa fa-user text-white mr-5"></i> @Session["login"]  <i class="fa fa-sign-out text-white mr-5"></i> @Html.ActionLink("Logout", "actionName", "controller")</div>
                        }   
                    </div>
                </div>
            </div>
        </div>
        <div class="header-nav">
            <div class="header-nav-wrapper navbar-scrolltofixed bg-white">
                <div class="container">
                    <nav id="menuzord-right" class="menuzord green no-bg ">
                        <a class="menuzord-brand pull-left flip xs-pull-center mb-15" href="index-mp-layout1.html"><img src="../../Content/Assets/images/logo-wide.png" alt=""></a></d>
                        <ul class="menuzord-menu pull-right" >
                            <li class="active">
                                <a href="#">Home</a>
                            </li>
                            <li>
                                @Html.ActionLink("Health Care", "actionName", "controller")
                                <ul class="dropdown">
                                    <li><a href="#">Look for vets</a></li>
                                    <li><a href="#">Appointments</a></li>
                                </ul>
                            </li>
                            <li>
                                @Html.ActionLink("Pet Sitting", "actionName", "controller")
                                <ul class="dropdown">
                                    <li><a href="#">Look for sitters</a></li>

                                </ul>
                            </li>
                            <li>
                                @Html.ActionLink("Stories", "actionName", "controller")
                                <ul class="dropdown">
                                    <li><a href="#">All stories</a></li>

                                </ul>
                            </li>
                            <li>
                                @Html.ActionLink("Competitions", "actionName", "controller")
                                <ul class="dropdown">
                                    <li><a href="#">All stories</a></li>

                                </ul>
                            </li>
                            <li>
                                @Html.ActionLink("Pet walking", "actionName", "controller")
                                <ul class="dropdown">
                                    <li><a href="#">All stories</a></li>

                                </ul>

                            </li>


                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!-- end header -->

    <div class="container">
        @RenderBody()
    </div>

    <!-- start footer -->
    <footer id="footer" class="bg-black-222">
        <div class="container pt-70 pb-30 hideFooter">
            <div class="row border-bottom-black ">
                <div class=" col-sm-8 col-md-4">
                    <div class="widget dark">
                        <img class="mb-20" alt="" src="images/logo-wide-white.png">
                        <p>As the leading animal welfare organization in the area, Animal Caring is transforming the way people care about animals throughout the world.</p>
                        <p>ADD OUR ADDRESS HERE.</p>
                        <ul class="list-inline mt-5">
                            <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-theme-colored mr-5"></i> <a class="text-gray" href="#">123-456-789</a> </li>
                            <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-theme-colored mr-5"></i> <a class="text-gray" href="#">contact@yourdomain.com</a> </li>
                            <li class="m-0 pl-10 pr-10"> <i class="fa fa-globe text-theme-colored mr-5"></i> <a class="text-gray" href="#">www.yourdomain.com</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="widget dark">
                        <h5 class="widget-title line-bottom">Useful Links</h5>
                        <ul class="list angle-double-right list-border">
                            <li><a href="#">Body Building</a></li>
                            <li><a href="#">Fitness Classes</a></li>
                            <li><a href="#">Weight lifting</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="widget dark col-sm-6 col-md-12">
                        <h5 class="widget-title mb-10">Subscribe Us</h5>
                        <!-- Mailchimp Subscription Form Starts Here -->
                        <form id="mailchimp-subscription-form-footer" class="newsletter-form">
                            <div class="input-group">
                                <input type="email" value="" name="EMAIL" placeholder="Your Email" class="form-control input-lg font-16" data-height="45px" id="mce-EMAIL-footer" style="height: 45px;">
                                <span class="input-group-btn">
                                    <button data-height="45px" class="btn btn-colored btn-theme-colored btn-xs m-0 font-14" type="submit">Subscribe</button>
                                </span>
                            </div>
                        </form>
                        <!-- Mailchimp Subscription Form Validation-->
                        <script type="text/javascript">
                $('#mailchimp-subscription-form-footer').ajaxChimp({
                    callback: mailChimpCallBack,
                    url: '//thememascot.us9.list-manage.com/subscribe/post?u=a01f440178e35febc8cf4e51f&amp;id=49d6d30e1e'
                });

                function mailChimpCallBack(resp) {
                    // Hide any previous response text
                    var $mailchimpform = $('#mailchimp-subscription-form-footer'),
                        $response = '';
                    $mailchimpform.children(".alert").remove();
                    if (resp.result === 'success') {
                        $response = '<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + resp.msg + '</div>';
                    } else if (resp.result === 'error') {
                        $response = '<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + resp.msg + '</div>';
                    }
                    $mailchimpform.prepend($response);
                }
                        </script>
                        <!-- Mailchimp Subscription Form Ends Here -->
                    </div>
                    <div class="widget dark col-sm-6 col-md-12">
                        <h5 class="widget-title mb-10">Connect With Us</h5>
                        <ul class="styled-icons icon-dark icon-circled icon-sm">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer-bottom bg-black-333">
            <div class="container pt-20 pb-20 ">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12 ">
                        <p class="font-11 text-black-777 m-0 sm-text-center ">Copyright &copy;@DateTime.Now.Year Seahawks. All Rights Reserved</p>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 text-right">
                        <div class="widget no-border m-0">
                            <ul class="list-inline sm-text-center mt-5 font-12">
                                <li>
                                    <a href="#">FAQ</a>
                                </li>
                                <li>|</li>
                                <li>
                                    <a href="#">Help Desk</a>
                                </li>
                                <li>|</li>
                                <li>
                                    <a href="#">Support</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </footer>
    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
    <!-- end footer -->
</body>
</html>
